<div class="header">
  <div>
    <p class="company-name">
      Bank of America
    </p>
  </div>
  <div>
    <img class="company-logo"
         src="~/images/BoFA logo no background.png"
         alt="logo of BOFA">
  </div>
</div>

<p class="withdrawal-prompt">
  Deposit
</p>

<div class="withdraw-area">
  <div class="withdraw-message">
    <p class="p1">
      Enter your Deposit amout, in multiples of $10 and select <b>Enter.</b>
    </p>

    <p class="p2">
      To make corrections, select <b>Clear.</b>
    </p>
    <div class="cancel">
      <a class="cancel-button-withdrawal"
         href="~/Client/Main">
        Cancel
      </a>
    </div>
  </div>

  <form asp action="/Client/DepositAmount"
        method="post">
    <div class="enter-amount">
      <div class="input-amount">
        <input type="decimal"
               name="AmountToChange"
               min="0.01"
               step="0.01"
               class="input-box"
               placeholder="Enter Amount">
               
      </div>

      <div class="clear-and-enter-buttons">
        <button class="blue-button"
                onclick="document.getElementById('AmountToChange').value='' "
                name="AmountToChange"
                type="reset">
          Clear
        </button>
        <button class="blue-button"
                type="submit">
          Enter
        </button>
      </div>
    </div>
  </form>
</div>
