@model ClientViewModel
@using Angelina_ATM_Machine.DataAccess.Models;

<div class="header">
  <div>
    <p class="company-name">
      Bank of America
    </p>
  </div>
  <div>
    <img class="company-logo"
         src="~/images/BoFA logo no background.png"
         alt="logo of BOFA">
  </div>
</div>

<div class="available-transactions">
  <p class="red-header-prompt">
    Transaction Complete
  </p>
</div>

<div>
  <p>Transaction Unsuccessful: Insufficient funds.</p>
</div>