<div class="header">
	<div>
		<p class="company-name">Bank of Angelina Dash</p>
	</div>
	<div>
		<img class="company-logo"
			 src="~/images/BoFA logo no background.png"
			 alt="logo of BOFA">
	</div>
</div>

<div class="available-transactions">
	<p class="red-header-prompt">
		Available Transactions
	</p>
</div>

<div class="menu-options-and-cancel-button">
	<div class="prompt-and-cancel-button">
		<p class="transaction-prompt">
			Select your transaction.
		</p>
		<a class="cancel-button-main" href="~/Home/Index">Cancel</a>
	</div>

	<div class="oval-buttons">

		<a class="blue-oval-button" href="~/Client/Withdraw">Withdrawal</a>


		<a class="grey-oval-button grey-button" href="~/Client/Deposit">
			Deposit
		</a>

		<a class="grey-oval-button grey-button" href="~/Client/CheckBalance">
			Balance Inquiry
		</a>

		@* <a class="grey-oval-button grey-button">
                Transfers $ Payments
            </a>

            <a class="grey-oval-button">
                Set Preferences
            </a>

            <a class="blue-oval-button">
                Additional Options >
            </a> *@
	</div>

</div>