html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #ecfbc3;
  margin-bottom: 60px;
}

.header {
  display: flex;
  height: 60px;
  margin-bottom: 15px;
  align-items: center;
}

/* this is the start of global styles that apply to every page of the app.*/
.company-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: roboto;
  word-spacing: -4px;
  font-weight: 900;
  font-size: 22px;
  color: rgb(15, 62, 152);
  font-style: medium;
  display: flex;
  align-items: center;
  padding-left: 20px;
  align-items: center;
  vertical-align: middle;
}

.company-logo {
  display: flex;
  overflow: visible;
  object-fit: cover;
  width: 70px;
  margin-top: 0px;
  margin-left: -1px;
}

/*this is the end of global styles*/
/*This is the beginning of the styles for EnterPin*/
/*//This is the end of the styles for EnterPin*/
/*This is the start of Main Styles*/

.available-transactions {
  font-family: Lora;
  display: flex;
  height: 40px;
  background-color: #b81818;
  color: white;
  padding-left: 30px;
  font-weight: 900;
  font-size: 22px;
  align-items: center;
}

.red-header-prompt {
  display: inline-block;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.menu-options-and-cancel-button {
  display: flex;
  justify-content: center;
}

.prompt-and-cancel-button {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.transaction-prompt {
  margin-bottom: auto;
}

.cancel-button-main {
  display: flex;
  align-items: center;
  width: 110px;
  height: 26px;
  font-weight: bold;
  box-shadow: rgb(154, 170, 170) 0 0 0 1px;
  border-radius: 30px;
  text-align: left;
  padding-left: 9px;
  color: white;
  background-image: linear-gradient(
    rgb(212, 154, 160),
    rgb(174, 1, 20),
    rgb(212, 154, 160)
  );
  margin-top: 10px;
  margin-left: 0px;
}

.transaction-buttons {
  display: flex;
  flex: 50%;
  flex-direction: column;
  row-gap: 13px;
}

.oval-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: flex-end;
  width: auto;
}

.blue-oval-button {
  height: 26px;
  width: 165px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: rgba(128, 128, 127, 0.469) 0 0 0 1px;
  text-align: left;
  padding-left: 13px;
  background-image: linear-gradient(
    rgba(142, 174, 218, 0.973),
    rgb(52, 128, 227),
    rgba(142, 174, 218, 0.973)
  );
}

.grey-oval-button {
  height: 26px;
  width: 165px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: rgba(128, 128, 127, 0.469) 0 0 0 1px;
  text-align: left;
  padding-left: 13px;
  background-image: linear-gradient(
    rgb(190, 189, 189),
    rgb(35, 35, 35),
    rgb(190, 190, 190)
  );
  border-radius: 20px;
}

/*this is the end of Main styles*/
.company-name,
.withdrawal-prompt {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.withdrawal-prompt {
  display: flex;
  margin: 0px;
  background-color: #b81818;
  color: white;
  padding-left: 30px;
  height: 40px;
  font-weight: 900;
  font-size: 22px;
  align-items: center;
}

.withdraw-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

.withdraw-message {
}

.p1,
.p2 {
  font-size: 21px;
  max-width: 240px;
}

.p1 {
  margin-bottom: 20px;
  margin-top: 0px;
}

.cancel {
  display: flex;
  vertical-align: bottom;
}

.cancel-button-withdrawal {
  display: flex;
  width: 138px;
  height: 35px;
  font-size: 18px;
  border: none;
  font-weight: bolder;
  background-color: #c61f10;
  color: white;
  align-items: center;
  padding-left: 10px;
  margin-top: 105px;
}

.enter-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 250px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  row-gap: 15px;
  max-width: 3900px;
}

.input-amount {
  position: absolute;
  top: 0;
}

.input-box {
  height: 33px;
  width: 268px;
  background-color: black;
  color: white;
  font-size: 17px;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: auto;
}

.number-buttons {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  flex: 2 2 85px;
  background-color: black;
  padding: 10px;
  color: white;
}

.number-buttons:nth-child(10) {
  grid-column: 1 / span 2;
}

.clear-and-enter-buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  margin-top: 22px;
}

.blue-button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 130px;
  height: 35px;
  background-color: #1359c9;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

/*this is the beginning of Withdraw styles*/
