@*
*@


@*

*@

<div class="header">
      <div class="company-name">Bank Of Angelina Dash</div>
      <div class="company-logo">
        <img
            class="bofa-logo"
          src="~/images/BoFA logo no background.png"
          alt="Bofa Logo"
        />
      </div>
</div>
    
    <p class="pin-prompt">Enter Your PIN</p>
    
    <div class="pin-message">
    
      <p class="p1">
        Please <b>enter your PIN,</b> and then <b>select an option.</b>
      </p>
      <img
        class="warning-symbol"
        src="images/triangle warning no background.png"
        alt=""
      />
      <p class="p2">
        For added security, this ATM will release your card when your
        transaction is complete.
      </p>
      <input
        class="pin-input-box"
        type="password"
      />
    </div>
    
    <div class="fast-cash">
      <p class="fast-cash-label">Fast Cash</p>
    </div>

    <div class="quick-cash-options-first-row">
      <div class="20">
        <button class="dollar-buttons">
          $20
        </button>
      </div>
      <div class="40">
        <button class="dollar-buttons">
          $40
        </button>
      </div>
      <div class="60">
        <button class="dollar-buttons">
          $60
        </button>
      </div>
      
      <div>
        <button class="other-transactions dollar-buttons">
          Other Transactions
        </button>
      </div>
    </div>

    <div class="quick-cash-options-second-row">
      <div class="20">
        <button class="dollar-buttons">
          $20
        </button>
      </div>
      <div class="40">
        <button class="dollar-buttons">
          $40
        </button>
      </div>
      <div class="60">
        <button class="dollar-buttons">
          $60
        </button>
      </div>
    </div>

    <div class="cancel">
    <a href="~/Home/Index">
        <button class="cancel-button">Cancel</button>
    </a>
        
    <button class="cancel-button">Submit</button>
    </div>